* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root.dark {
    /*--color-base-bg: #0F172A;*/
    --color-base-bg: linear-gradient(30deg, #1E293B 0%, #475569 90%, #0EA5E9 100%);
    --color-sidebar-bg: #0284C7;
    --color-base-text: #E2E8F0;
    --color-hl-text: #0EA5E9;
    --color-card-bg: #7DD3FC;
    --color-search-bar: rgb(2, 132, 199, 0.5);
}

 :root.light {
    --color-base-bg: linear-gradient(30deg, #F1F5F9 0%, #CBD5E1 90%, #0EA5E9 100%);
    --color-sidebar-bg: #7DD3FC;
    --color-base-text: #1E293B;
    --color-hl-text: #0EA5E9;
    --color-card-bg: #0284C7;
    --color-search-bar: rgb(125, 211, 252, 0.5);
}

@font-face {
    font-family: Open-Sans;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    background: var(--color-base-bg);
    color: var(--color-base-text);
    height: 100vh;
    color: var(--color-base-text);
    font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 72px 128px calc(100vh - 200px);
    grid-template-areas: "sidebar header header" "sidebar menu menu" "sidebar project highlight";
}

h1 {}

h2 {}

h3 {}

h4 {}

p {}

.header,
.menu {
    padding: 0 2vw;
}


/*to be removed*/

div {
    border: 1px solid black;
}


/****************************
HEADER
****************************/

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.header i {
    color: var(--color-base-text);
}

.header button {
    border: 0;
    background: 0;
    cursor: pointer;
}

.header i:hover {
    color: var(--color-hl-text);
}


/*Search Form*/

form {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    gap: 2vw;
}

input {
    color: var(--color-base-text);
    border: 0;
    border-radius: 24px;
    background-color: var(--color-search-bar);
    padding: 6px 0 6px 24px;
    font-size: 1.3rem;
    flex: 1;
    width: 130px;
    max-width: 500px;
}

label {
    position: absolute;
    left: calc(48px + 2vw);
    font-size: 1rem;
}

form label {
    opacity: 0.3;
}

input:focus+label,
input:valid+label {
    opacity: 0;
}

.notif {
    margin-left: auto;
}


/****************************
MENU
****************************/

.menu {
    grid-area: menu;
    box-shadow: 0px 15px 5px var(--color-sidebar-bg);
}


/****************************
PROJECT
****************************/

.project {
    grid-area: project;
}


/****************************
SIDEBAR
****************************/

.sidebar {
    grid-area: sidebar;
    background-color: var(--color-sidebar-bg);
}


/****************************
HIGHLIGHT
****************************/

.highlight {
    grid-area: highlight;
    background-color: var(--color-base-bg);
}


/****************************
MEDIA QUERIES
****************************/


/* @media only screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 48px 3fr;
        grid-template-rows: 72px 128px calc(100vh - 200px);
        grid-template-areas: "sidebar header " "sidebar menu " "sidebar project";
    }
    .highlight {
        visibility: hidden;
    }
} */